//Colors
$secondary-color-light: #00B7C0;
$secondary-color-dark: #3454D1;


$primary-color-text: #FFFFFF;
$accent-color: #be3144;

$primary-color-dark: #181719;
$primary-color: #000;
$primary-color-light: #3a3d40;

$secondary-color-text: #3454D1;
$divider-color: #BDBDBD;
//Font Size
$default-font : 1.6rem;

//padding
$padding-side: 5rem;

//box shadow
$shadow:  0 1.5rem 2.5rem rgba(0, 0, 0, 0.5);
//$shadow-clicked: 0 .4rem 1rem rgba(0, 0, 0, 0.5);
