.footer {
    background-color: $primary-color;
    background-image: linear-gradient(180deg, $primary-color-light 0%, $primary-color-dark 100%);
    text-align: center;
    color: $primary-color-text;
    border-top: 3px solid $accent-color;
    padding: 3rem $padding-side;
    line-height: 2;
    font-weight: 700;
    span {
        color: $accent-color;
        font-weight: 900;

    }
}