.header {
    background-color: $primary-color;
    background-image: linear-gradient(62deg, $primary-color-light 0%, $primary-color-dark 100%);
    color: $primary-color-text;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 $padding-side;
    text-align: center;
}

.main-heading {
    &--title {
        margin-bottom: 3rem;
    }

    &--description {
        font-size: 2.3rem;
        font-weight: 900;
        color: $accent-color;
        text-transform: capitalize;
        span {
            color: $primary-color-text;
            text-decoration: underline;
        }
    } 
}
.beta {
    margin-top: 4rem;
    text-transform: uppercase;
    font-size: 2rem;
    color: $secondary-color-light;
}