*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 5rem;
  font-family: "Raleway", sans-serif;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 1.9rem;
}

.nav {
  background-color: #be3144;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 900;
  width: 100%;
}

.nav-brand {
  padding: 1.5rem 2rem;
}
.nav-brand a {
  color: #FFFFFF;
}

.nav-list {
  display: flex;
}
.nav-list__item a {
  color: #FFFFFF;
  display: block;
  padding: 1.5rem 2rem;
}
.nav-list__item:hover {
  background: #FFFFFF;
}
.nav-list__item:hover a {
  color: #be3144;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.header {
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  color: #FFFFFF;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
  text-align: center;
}

.main-heading--title {
  margin-bottom: 3rem;
}
.main-heading--description {
  font-size: 2.3rem;
  font-weight: 900;
  color: #be3144;
  text-transform: capitalize;
}
.main-heading--description span {
  color: #FFFFFF;
  text-decoration: underline;
}

.beta {
  margin-top: 4rem;
  text-transform: uppercase;
  font-size: 2rem;
  color: #00B7C0;
}

.footer {
  background-color: #000;
  background-image: linear-gradient(180deg, #3a3d40 0%, #181719 100%);
  text-align: center;
  color: #FFFFFF;
  border-top: 3px solid #be3144;
  padding: 3rem 5rem;
  line-height: 2;
  font-weight: 700;
}
.footer span {
  color: #be3144;
  font-weight: 900;
}

.section-plan {
  padding: 5rem 5rem;
}

.plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
  gap: 5rem;
  margin: 5rem 0;
}

.pricing-table {
  border: 1px solid #BDBDBD;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.5);
}
.pricing-table h3 {
  color: #be3144;
  margin-bottom: 1rem;
}
.pricing-table span {
  display: inline-block;
  font-weight: 600;
  font-size: 2rem;
  color: #3454D1;
  margin-bottom: 3rem;
}
.pricing-table ul {
  width: 75%;
  margin: 0 auto;
}
.pricing-table ul li {
  padding: 1rem;
  text-transform: capitalize;
}
.pricing-table ul li:not(:last-child) {
  border-bottom: 1px solid #BDBDBD;
}
.pricing-table a {
  transition: all 0.3s;
}
.pricing-table--free a {
  display: block;
  padding: 1.1rem 2rem;
  margin: 4rem auto;
  color: #FFFFFF;
  width: 65%;
  background-color: #be3144;
  box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.5);
}
.pricing-table--free a:hover {
  background-color: rgba(190, 49, 68, 0.8);
}
.pricing-table--paid a {
  display: block;
  padding: 1.1rem 2rem;
  margin: 4rem auto;
  color: #FFFFFF;
  width: 65%;
  background-color: #181719;
  box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.5);
}
.pricing-table--paid a:hover {
  background-color: rgba(24, 23, 25, 0.8);
}

.section-faq {
  padding: 5rem 5rem;
}
.section-faq h2 {
  color: #be3144;
  text-align: center;
  padding: 1rem 1.5rem;
  display: block;
  border-bottom: 1px solid #be3144;
  border-top: 1px solid #be3144;
  margin: 2rem auto;
}

.question {
  padding: 2rem 2.5rem;
}
.question h5 {
  margin-bottom: 1rem;
  color: #3454D1;
  font-weight: 900;
}

.section-earn {
  color: #FFFFFF;
  padding: 3rem 5rem;
  background-image: linear-gradient(62deg, #00244a 0%, #024058 100%);
  margin: 7rem 0;
}
.section-earn h2 {
  text-align: center;
  margin-bottom: 2rem;
}
.section-earn h4 {
  margin-bottom: 1.5rem;
}

.section-contact {
  padding: 3rem 5rem;
  color: #FFFFFF;
  background-color: #000;
  background-image: linear-gradient(0deg, #3a3d40 0%, #181719 100%);
  text-align: center;
  margin: 7rem 0 0 0;
  font-weight: 900;
}
.section-contact h2 {
  text-align: center;
  margin-bottom: 2rem;
}
.section-contact ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-contact ul li {
  padding: 1.5rem 2rem;
}
.section-contact a {
  color: #FFFFFF;
  font-size: 2.1rem;
  transition: all 0.5s;
  display: block;
  text-shadow: 3px 3px 1px #1f1f1f;
}
.section-contact a:hover {
  transform: translateY(5px);
}

/*# sourceMappingURL=main-style.css.map */
