.nav {
    background-color: $accent-color;
    color: $primary-color-text;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    position: fixed;
    width: 100%;

}

.nav-brand {
    padding: 1.5rem 2rem;

    a {
        color: $primary-color-text;

    }
}

.nav-list {
    display: flex;

    &__item {
        padding: 1.5rem 2rem;

        a {
            color: $primary-color-text;
        }
    }
}