*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing : border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: $default-font;
    line-height: 1.4;
}

ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.5rem;
}
h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 1.9rem;
}
