.section-plan {
    padding: 5rem $padding-side;
}

.plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
    gap: 5rem;
    margin-bottom: 5rem;
}

.pricing-table {
    border: 1px solid $divider-color;
    padding: 2rem;
    text-align: center;
    box-shadow: $shadow;

    h3 {
        color: $accent-color;
        margin-bottom: 1rem;
    }

    span {
        display: inline-block;
        font-weight: 600;
        font-size: 2rem;
        color: $secondary-color-text;
        margin-bottom: 3rem;
    }

    ul {
        width: 75%;
        margin: 0 auto;

        li {
            padding: 1rem;
            text-transform: capitalize;

            &:not(:last-child) {
                border-bottom: 1px solid $divider-color;
            }
        }
    }

    &--free {
        a {
            display: block;
            padding: 1.1rem 2rem;
            margin: 4rem auto;
            color: $primary-color-text;
            width: 65%;
            background-color: $accent-color;


        }
    }

    &--paid {
        a {
            display: block;
            padding: 1.1rem 2rem;
            margin: 4rem auto;
            color: $primary-color-text;
            width: 65%;
            background-color: $primary-color-dark;



        }
    }
}

.section-faq {
    padding: 5rem $padding-side;

    h2 {
        color: $accent-color;
        text-align: center;
        padding: 1rem 1.5rem;
        display: block;
        border-bottom: 1px solid $accent-color;
        border-top: 1px solid $accent-color;

        margin: 0 auto;
    }
}
.question {
    padding: 2rem 2.5rem;
    h5 {
        margin-bottom: 1rem;
        color: $secondary-color-text;
        font-weight: 900;
    }
}