.section-plan {
    padding: 5rem $padding-side;
}

.plans {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 5rem;
    margin: 5rem 0;
    
}

.pricing-table {
    border: 1px solid $divider-color;
    padding: 2rem;
    text-align: center;
    box-shadow: $shadow;
    width: 90%;

    h3 {
        color: $accent-color;
        margin-bottom: 1rem;
    }

    span {
        display: inline-block;
        font-weight: 600;
        font-size: 2rem;
        color: $secondary-color-text;
        margin-bottom: 3rem;
    }

    ul {
        width: 75%;
        margin: 0 auto;

        li {
            padding: 1rem;
            text-transform: capitalize;

            &:not(:last-child) {
                border-bottom: 1px solid $divider-color;
            }
        }
    }

    a {
        transition: all .3s;
        width: 60%;
    }

    &--free {
        a {
            display: block;
            padding: 1.1rem 2rem;
            margin: 4rem auto;
            color: $primary-color-text;
            background-color: $accent-color;
            box-shadow: $shadow;

            &:hover {
                background-color: rgba($accent-color, .8);
            }
        }
    }

    &--paid {
        a {
            display: block;
            padding: 1.1rem 2rem;
            margin: 4rem auto;
            color: $primary-color-text;
            background-color: $primary-color-dark;
            box-shadow: $shadow;
            &:hover {
                background-color: rgba($primary-color-dark, .8);
            }

        }
    }


}



.section-faq {
    padding: 5rem $padding-side;

    h2 {
        color: $accent-color;
        text-align: center;
        padding: 1rem 1.5rem;
        display: block;
        border-bottom: 1px solid $accent-color;
        border-top: 1px solid $accent-color;

        margin: 2rem auto;
    }
}

.question {
    padding: 2rem 2.5rem;

    h5 {
        margin-bottom: 1rem;
        color: $secondary-color-text;
        font-weight: 900;
    }
}

.section-earn {
    color: $primary-color-text;
    padding: 3rem $padding-side;
    background-image: linear-gradient(62deg, #00244a 0%, #024058 100%);
    margin: 7rem 0;


    h2 {
        text-align: center;
        margin-bottom: 2rem;

    }

    h4 {
        margin-bottom: 1.5rem;

    }
    
}



.section-contact {
    padding: 3rem $padding-side;
    color: $primary-color-text;
    background-color: $primary-color;
    background-image: linear-gradient(0deg, $primary-color-light 0%, $primary-color-dark 100%);
    text-align: center;
    margin: 7rem 0 0 0;
    font-weight: 900;

    h2 {
        text-align: center;
        margin-bottom: 2rem;


    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            padding: 1.5rem 2rem;

        }
    }

    a {
        color: $primary-color-text;
        font-size: 2.1rem;
        transition: all .5s;
        display: block;
        text-shadow: 3px 3px 1px #1f1f1f;

        &:hover {
            transform: translateY(5px);
        }
    }
}