.section-plan {
    padding: 5rem $padding-side;
}

.plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
    gap: 5rem;
    margin: 5rem 0;
}

.pricing-table {
    border: 1px solid $divider-color;
    padding: 2rem;
    text-align: center;
    box-shadow: $shadow;

    h3 {
        color: $accent-color;
        margin-bottom: 1rem;
    }

    span {
        display: inline-block;
        font-weight: 600;
        font-size: 2rem;
        color: $secondary-color-text;
        margin-bottom: 3rem;
    }

    ul {
        width: 75%;
        margin: 0 auto;

        li {
            padding: 1rem;
            text-transform: capitalize;

            &:not(:last-child) {
                border-bottom: 1px solid $divider-color;
            }
        }
    }

    &--free {
        a {
            display: block;
            padding: 1.1rem 2rem;
            margin: 4rem auto;
            color: $primary-color-text;
            width: 65%;
            background-color: $accent-color;


        }
    }

    &--paid {
        a {
            display: block;
            padding: 1.1rem 2rem;
            margin: 4rem auto;
            color: $primary-color-text;
            width: 65%;
            background-color: $primary-color-dark;



        }
    }
}

.section-faq {
    padding: 5rem $padding-side;

    h2 {
        color: $accent-color;
        text-align: center;
        padding: 1rem 1.5rem;
        display: block;
        border-bottom: 1px solid $accent-color;
        border-top: 1px solid $accent-color;

        margin: 2rem auto;
    }
}

.question {
    padding: 2rem 2.5rem;

    h5 {
        margin-bottom: 1rem;
        color: $secondary-color-text;
        font-weight: 900;
    }
}

.section-work {
    height: 20rem;
    background: $primary-color-light;
    border-top: 1px solid $divider-color;

    h2 {
        text-align: center;
        color: $primary-color-text;
        margin-top: 3.5rem;
        margin-bottom: 2rem;

    }

    p {
        font-style: italic;
        font-size: 2.5rem;
        text-align: center;
        color: $primary-color-text;
    }
}

.section-contact {
    height: 50rem;
    color: $primary-color-text;
    padding: 5rem $padding-side;
    background-image: linear-gradient(62deg, #00244a 0%, #024058 100%);
}

.section-earn {
    color: $primary-color-text;
    padding: 3rem $padding-side;
    background-image: linear-gradient(62deg, #00244a 0%, #024058 100%);
    text-align: center;
    font-size: 2.5rem;
    margin: 3rem 0;
}